.header-line{
  background-color: black;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
}

.wrapper{
  width: 100%;
  height: 13vh;
  background-color: #222222;
}

.wrapper-checkbox{
  display: none;
}

.wrapper-checkbox:checked {
  & ~.wrapper-button .wrapper-button-line
    &:nth-child(1)
      transform: rotate(45 deg)
      top: 8px
    &: nth-child(2)
      opacity: 0
    &: nth-child(3)
      transform: rotate(-45deg)
      top: -6px
}


.wrapper-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
}
